.dashboard{
    display: flex;
}

.dashboard-body{
    width: 100%;
}
.dashboard__cards{
    display: flex;
    margin: 20px;
}

.data-table{
    border-radius: 6px;
    flex-basis: 100%;
    background-color: #fff;
    padding: 10px;
    margin: 25px 25px;
} 



table{
    width: 100%;
    color: #2c2c2c;
    text-align: center;
}


th, tr{
    padding: 5px;
    text-align: left;
    text-transform: capitalize;
}

td{
    padding: 10px;
    /* display: inline-flex;
    align-items: center;
    border: red dashed thin; */
} 

.table-body{
    text-align: center;
}

h3{
    margin-bottom: 10px;
    text-transform: capitalize;
}

