
.sidebar_wrapper {
  width: 250px;
  height: 100vh;
  overflow: hidden;
  padding: 20px 0;
  background-color: #fff;
}

.logo {
    margin-left: 20px;
  margin-bottom: 15px;
  width: 120px;
  height: 60px;
}

.sidebar_list {
  list-style: none;
  padding: 5px;
}

.sidebar_list-item-list {
  padding: 5px;
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.sidebar_list-item:hover .sidebar_list-item-list {
  color: black;
  font-weight: 600;
}

.sidebar_list-item-icon {
  margin-right: 10px;
  font-size: 14px !important;
  background-color: #eee;
  font-size: 14px;
  width: 15px;
  height: 15px;
}

.sidebar_list-item:hover .sidebar_list-item-icon {
  background-color: #fddb00;
  font-size: 14px;
  width: 18px;
  height: 18px;
}

.sidebar_list-item-list {
  font-size: 12px;
}
