.simple-table{
    width: 100%;
    color: #2c2c2c;
    font-size: 5px !important;
}
 .simple-table thead{
    border-bottom: var(--color-default) thin solid;
}

.simple-table th, .simple-table  tr{
    padding: 5px;
    text-align: left;
    text-transform: capitalize;
}

.simple-table td{
    padding: 10px;
} 